
ion-content {
  --ion-background-color: #f2f2f2;
}

.project-image-slides {
  position: relative;
  ipms-radio-button {
    left: 50%;
    bottom: 1rem;
    z-index: 2;
    position: absolute;
    transform: translateX(-50%);
  }
}
