
:host {
  display: block;
  margin-bottom: 0.8rem;
  .static {
    margin-bottom: 0.8rem;
    > p {
      margin: 0.5rem 0 1rem 0;
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
    }
    > div {
      text-align: center;
      ipms-project-status-tag + ipms-project-status-tag {
        margin-left: 0.5rem;
      }
    }
  }
}
